{% extends 'base.html' %}
{% block content %}
<h4>Welcome, admin!</h4>

<div class="container">
<div class="d-flex">
      <div>

          <table class="table table table-hover">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email ID</th>
                    <th scope="col">User Roles</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in user_dict.items %}
                    <tr>
                        <th>{{ value.0 }}</th>
                        <th>{{ value.1 }}</th>
                        <th>{{ value.2 }}</th>
                    </tr>
                {% endfor %}
            </tbody>
          </table>

      </div>
      <div class="ml-auto">
         <div style="float:left; width:70%; height:32px"><b>New Role</b></div>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" id="id_change_role" class="btn btn-danger">Update</button>
            </form>
      </div>
    </div>
</div>

{% endblock %}