{% extends 'base.html' %}

{% block content %}
{% if broadcast_messages %}
<h4 class="display-10">Broadcast Messages: </h4>
{% for message in broadcast_messages %}
<div class="alert alert-primary" role="alert">
    {{ message }}
    <div>
        <form action="{% url 'claim_broadcast' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="broadcast_id" value={{ message.id }}>
        <p><input type="submit" value="Claim"></p>
    </form>
    </div>
</div>

{% endfor %}
{% else %}
    <p>No Broadcasts are available.</p>
{% endif %}
{% endblock %}