{% extends "base.html" %}

{% block title %}{{ partner.username }}{% endblock %}

{% block head %}
<script type="text/javascript">
$(document).ready(function() {
    activate_chat({{ thread_id }}, "{{ user.username }}", {
        "total": {{ messages_total }},
        "sent": {{ messages_sent }},
        "received": {{ messages_received }}
    });


</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="chat">

        <div class="card my-3 bg-dark">
            <div class="card-body bg-primary">
                <a class= "text-light" style="color:black;">Conversation with <b><h1>{{ partner.username }}</h1></b></a>
            </div>
        </div>

        <div class="conversation">

            {% for message in thread_messages reversed %}
                <div class="message card w-75 my-1 {% if message.sender == user %} float-right {% else %} float-left {% endif %} bg-dark">
                    <div class="card-body {% if message.sender == user %} bg-light {% else %} bg-dark {% endif %}"><p class="message {% if message.sender == user %} text-dark {% else %} text-light {% endif %}">{{ message.text|linebreaksbr }}</p></div>
                </div>
            {% endfor %}
        </div>

        <div class="message card w-75 float-right my-1">
            <div class="card-body bg-light text-dark">
                <form action="{% url 'send_message_view' thread_id=thread_id %}" method="post" class="new_message float-left w-100">
                    {% csrf_token %}
                    <input type="hidden" name="recipient_name" value={{ partner.username }}>
                    <p><textarea type="text" class="md-textarea form-control mw-75" style="min-width: 100%" name="message" placeholder="Type a message"></textarea></p>
                    <p><input class="b-0" type="submit" value="send"></p>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
