{% extends "base.html" %}

{% block content %}
<script>
 setInterval(function () {document.getElementById("waitingButtonId").click();}, 30000);
</script>
<div class="chat">
    <h3>Waiting for a Mentor to join</h3>

    <form action="{% url 'live_chat' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="thread_id" value={{ thread_id }}>
        <input type="hidden" name="broadcast_id" value={{ broadcast_id }}>
        <p><input type="submit" value="Refresh" id="waitingButtonId" style="display:none"></p>
    </form>
</div>

{% endblock content %}
